{% load static %}
<footer class="text-white p-1 justify-content-center align-items-center gap-2 fixed-bottom">       
    <div class="row container-fluid justify-content-center">              
        <div class="row row-cols-auto justify-content-center align-items-center">
          <a href="https://www.linkedin.com/in/marlonbbritto/" class="text-decoration-none text-white px-1" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.instagram.com/marlonbbritto/" class="text-decoration-none text-white px-1" target="_blank"><i class="bi bi-instagram"></i></a>
          <p class="px-1 m-0">Desenvolvido por Marlon Britto</p>
        </div>              
    </div>
        

</footer> 