{% extends 'shared/base.html'%}
{% load static %}
{% block content %}
    <main class="row justify-content-center align-items-center m-0 flex-grow-1">
        <section class="col-12 col-md-8 col-lg-6 container-fluid p-5">
            <form class="col-12 main-content py-4 rounded-3 w-100 p-3" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <h2 class="text-center  text-white mb-3">Login</h2>
               
                    {% for field in form.visible_fields %}
                    <div class="form-floating mb-3">
                        {{ field }}
                        <label for="floatingInput">{{field.label}}</label>
                    </div>
                    {% endfor %}               
                <button class="container-fluid btn btn-outline-success" type="submit">Login</button>
            </form>
        </section>
    </main>
{% endblock %}